<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:property-placeholder location='core/*.properties'/>

    <context:component-scan base-package="com.pentalog.twitter"/>
    <context:annotation-config />

    <import resource="camel/camelContext.xml"/>

    <bean id="nodeManagerFactory" class="com.pentalog.twitter.manager.factory.NodeManagerFactory">
        <property name="masterIP" value="${cluster.master.IP}"/>
        <property name="camelContext" ref="camelContext"/>
    </bean>

    <bean id="nodeManager" factory-bean="nodeManagerFactory" factory-method="createNodeManager"/>


    <bean id="twitterProps"
          class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>core/twitter.properties</value>
            </list>
        </property>
    </bean>

    <bean id="twitterBean" class="com.pentalog.twitter.processor.TwitterBeanProcessor"/>

    <bean id="mongoConnectionBean" class="com.mongodb.Mongo">
        <constructor-arg index="0" value="79.141.1.187"/>
    </bean>


</beans>